
<div class="jumbotron" style="text-align:center">
    <h1>Manupulator Type</h1>

</div>

<div class="jumbotron">
    <form>
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMZ04" value="MZ04"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMZ07" value="MZ07"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMZ12" value="MZ12"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMZ25" value="MZ25"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMC20" value="MC20"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMC50" value="MC50"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMC70" value="MC70"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnSRA166" value="SRA166"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnSRA350" value="SRA350"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnLP180" value="LP180"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnLP210" value="LP210"> 
        <input type="button" class="button" style="background-color:tomato;color:white;" name="btnMZ25" value="MZ25">

    </form>
    
</div>

<div class="jumbotron" style="text-align:center">
    <h1>Controlor Type</h1>

</div>

<div class="jumbotron">
    <button class="button" style="background-color:blue;color:white;" name="btnCFD" value="CFD"> CFD </button>
    <button class="button" style="background-color:blue;color:white;" name="btnFD" value="FD"> FD </button>
    <button class="button" style="background-color:blue;color:white;" name="btnCFDs" value="CFDs"> CFDs </button>

</div>

<div class="jumbotron" style="text-align:center">
    <h1>TP CABLE LENGTH </h1>

</div>

<div class="jumbotron">

    <button class="button" style="background-color:blue;color:white;" name="btnTP4M" value="TP 4M (Standard)"> TP 4M (Standard)</button>
    <button class="button" style="background-color:blue;color:white;" name="btnTP5M" value="TP 5 M"> TP 5 M </button>
    <button class="button" style="background-color:blue;color:white;" name="btnTP10M" value="TP 10 M"> TP 10 M </button>

</div>

